@use '../Modules/color';

// Cards, image

body {
    overflow-x: hidden;
}

.content {
    background: #F7F7F7;
    width: 80%;
    margin: 0 auto;
}

#benefit_background {
    background: #F7F7F7;
    padding: 5%;
}

//Card textos


//card Styles
.card-text {
    color: --var(--black-color);
    font-family: "Open Sans";
    padding-bottom: 5%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

}

.card-title {

    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-bottom: 5%;
    line-height: 42px;

}

.card-title-3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-top: 85px;
    width: 420px;
    height: 87px;
}


.card-text-3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 35px;
    margin-bottom: 35px;
}




//Card 1
.card1-img {
    background-color: var(--white-color);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px solid #E8E9ED;
    height: 25em;
    position: relative;
    border-radius: 5px;
   
}

.card_description {
    padding-left: 5%;
}

.cards {
    display: flex;
    width: 60%;
    flex-shrink: 1;
}

.macbook-image {
    position: relative;
    margin: auto;
    width: 53%;
    top: 3em;
    left: 2%;
    z-index: 1;
  
}

.rectangle {
    position: absolute;
    width: 15%;
    right: 6%;
}

//Card 2
.card2-img {
    background-color: var(--white-color);
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    border: 1px solid #E8E9ED;
    height: 25em;
    border-radius: 5px;
    margin-top: 40px;
}

.ellipse_iphone {
    position: absolute;
    width: 20%;
    left: 3em;
}

.iphone {
    position: relative;
    margin: auto;
    width: 55%;
    top: 1em;
    right: 14%;
    z-index: 1;
}

//Card 3

.card3-img {
    background: #FFFFFF;
    border-radius: 5px;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: transparent;
    display: flex;
    margin-top: 40px;
    border: 0;
    gap: 2rem;
}

.frame {
    // display: flex;
    // flex-wrap: wrap;
    height: 100%;
    // position: relative;
    // margin: auto;

}

.card_description_3 {
    padding-left: 2%;
    width: 70%;
    background-color: var(--white-color);
}





// Media screen 

@media screen and (max-width: 1000px) {

    .card-title {

        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        color: #000000;
        margin-top: 7%;
    }

    .card-text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin-top: 14%;

    }

    .card-title-3 {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        color: #000000;
        margin-top: 5%;
        margin-left: 5%;
        width: 69vw;

    }


    .card-text-3 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        margin-top: 14%;
        margin-left: 5%;
    }

    .cards {
        width: 75vw;
    }


    .card1-img {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        height: 71vh;
    }

    .card2-img {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 74vh;
    }

    .card_description {
        width: 90%;
    }

    .card3-img {
        display: flex;
        flex-direction: column-reverse;
        background-color: transparent;
        align-items: center;
    }
    .card_description_3{
        width: 100%;
    }


    .frame {
        width: 100%;
        height: auto;
    }

    .rectangle {
        position: absolute;
        width: 40%;
        right: 9%;


    }

    .ellipse_iphone {
        position: absolute;
        width: 55%;
        left: 9%;
    }

    @mixin card-line($border, $margin-left: 0) {
        width: 70%;
        border: $border;
        margin-left: $margin-left;
        opacity: 1;
    }

    .card-line1 {
        @include card-line(1px solid #FB3B64);
    }

    .card-line2 {
        @include card-line(1px solid #08A6E4);
    }

    .card-line3 {
        @include card-line(1px solid #55DFB4, 5%);

    }

}

// Line
@mixin card-line($border,$width) {
    width: $width;
    border: $border;
    opacity: 1;


}

.card-line1 {
    @include card-line(2px solid #FB3B64,70%);
}

.card-line2 {
    @include card-line(2px solid #08A6E4,70%);
}

.card-line3 {
    @include card-line(2px solid #55DFB4,50%);

}