@use '../Modules/color';

//Contact
//Aplica a todos los dispositivos
.contact-1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 58px;
    color: var(--black-color);
}

.contact-2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--black-color);

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 38px;
    margin-right: 8px;
}

.p_email {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #A5A5A5;
}

//Aqui solo aplica a los dispositivos de escritorio
@media only screen and (min-width: 1000px) {

    .contact {
        display: flex;
        gap: 5em;
        flex-direction: row;
        justify-content: center;
        margin-top: 25px;

    }


    #form-contact {
        display: flex;
        flex-flow: column wrap;
        width: 20%;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    .checkbox-container {
        margin-left: -9%;
        margin-bottom: -8%;
    }

    .contact-name {
        padding-top: 11%;
    }

    .btn-submit {
        width: 200px;
        height: 40px;
    }
}

// Aplica a dispositivos móviles
@media only screen and (max-width: 1000px) {
    .contact {
        .contact-1 {
            font-weight: 400;
            font-size: 40px !important;
            line-height: 47px !important;
            margin-left: 30px;

        }

        .contact-2 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            margin-left: 30px;

        }

        #form_contact {
            margin-left: 5%;
        }

        .contact-type {
            margin-left: 30px;
            width: 100%;
            height: 100%;
        }
    }
}

.contact-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: #08A6E4;
}

.contact-email {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: #08A6E4;
}

.data-protection {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #707070;
    max-width: 30rem;
}

.btn-submit {
    width: 226px;
    height: 57px;
    background: #08A6E4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 35px;
    border: none;
    margin-bottom: 15%;
    margin-left: 35%;
}

.btn-send {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: var(--white-color);
}

.check {
    border: 1px solid #95989A;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    margin-top: 5%;
}

#inputName {

    position: relative;
    width: 90%;
    left: 0px;

    border: none;
    outline: none;
    border-bottom: 1px solid #95989A;
}

#mail {

    position: relative;
    width: 90%;
    left: 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid #95989A;
}

.arrowbutton {
    position: relative;
    left: 29%;
    cursor: pointer;
    height: 50px;
}


@media screen and (max-width:678px) {

    .arrowbutton {

        display: none;
    }
}

//Validar name



input.invalid {

    border-color: #FF0000;
}

input:focus,
textarea:focus {
    background-color: lightyellow;
}

input submit {
    font-size: 12pt;
}

.rq {
    color: #FF0000;
    font-size: 10pt;
}


// Validar formulario
input.mail {



    border: 1px solid #333;
    margin: 0;

    font-family: inherit;
    font-size: 90%;

    box-sizing: border-box;
}

// Este es nuestro diseño para los campos no válidos 
input.invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus.invalid {
    outline: none;
}

// Este es el diseño para nuestros mensajes de error */
.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}